<h2>{{title}}</h2>


<div *ngFor="let produto of produtos"  class="produtos">
  <span class="nomeprod"><b>{{produto.getNome()}}</b></span><br>
  <sub class="preco">{{produto.getValor()}}</sub>
  <button class="comprar" (click)="adicionaCarrinho(produto)">Comprar</button>
</div>


<br>
<h2>Carrinho</h2>
<div class="carrinho">
  <table>
    <tr>
      <th>Produto</th>
      <th>Unid.</th>
      <th>Preço</th>
    </tr>
    <tr *ngFor="let produto of carrinho">
      <td>{{produto.getNome()}}</td>
      <td>{{produto.getQtd()}}</td>
      <td>{{produto.getValor()}}</td>
    </tr>
  </table>
  <br>  
  <span *ngIf="total>0">Total da Compra <b id="total">{{total}}</b></span>
</div>